body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  height: 95vh;
}

#fake-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 95vh;
}

.container {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 1px auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  width: 350px;
  overflow: hidden;
  height: 470px;
}

.login-form {
  padding: 20px;
}

img {
  margin-bottom: 0px;
  margin-left: 50px;
  user-select: none;
}

input {
  width: 250px;
  height: 15px;
  padding: 10px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 19px;
}

button {
  width: 272px;
  height: 33px;
  padding: 10px;
  margin-left: 18px;
  background-color: #3897f0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#botao-entrar {
  background-color: #57b2dc;
}

button:hover {
  background-color: #1875d1;
}

#primeiro-botao {
  margin-top: 20px;
  padding: 0;
  color: #2d4963;
  font-weight: 540;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segundo-elemento {
  width: 268px;
  height: 27px;
  padding: 1px;
  border: none;
  border-radius: 5px;
  margin-left: 18px;
  margin-top: 2px;
  margin-top: 15px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.line {
  width: 130px;
  height: 1px;
  background-color: #acaaaa;
}

.text-ou {
  font-size: 13px;
  margin-left: 15px;
  margin-right: 15px;
  color: #979393;
}

.bloco-3 {
  width: 268px;
  height: 27px;
  padding: 1px;
  border: none;
  border-radius: 5px;
  margin-left: 18px;
  margin-top: 6px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.text-senha {
  font-size: 14px;
  color: #54789c;
  cursor: pointer;
}

.bloco-4 {
  width: 268px;
  height: 0;
  padding: 1px;
  border: none;
  border-radius: 5px;
  margin-left: 18px;
  margin-top: 25px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #979393;
}

.text-cadastro {
  font-size: 14px;
  cursor: pointer;
}

.cadastro {
  color: #5f809e;
  font-weight: 500;
}

.bxl-facebook {
  color: #3897f0;
  margin-right: 2px;
  font-size: 17px;
  width: 15px;
  height: 14px;
  margin-right: 5px;
  margin-top: 2px;
  background-color: #ffffff;
  z-index: -4;
}

#MensagemDeErro {
  display: none;
  padding: 5px;
  color: #e72525;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 32px;
}

#MensagemIndisponivel {
  display: none;
  padding: 5px;
  color: #e72525;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 78px;
}
